<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="shared/_layoutFrame">
<head>

</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div layout:fragment="content">
            <section class="sidebar">
                <ul class="sidebar-menu">
                    <li class="header">MENU</li>

                </ul>
            </section>
        <script type="text/javascript" src="/js/jslinq/jslinq.js"></script>
    </div>
    <th:block layout:fragment="scripts">
        <script type="text/javascript">
            /*<![CDATA[*/
            $(function(){
                $.get("/home/getUserPermissions",{},function(result){
                    if(result.status == 200){

                        var allTopMenus = result.data.asLinq().where(function(){return this.parentPermissionId==0}).toArray();
                        var str = '';
                        for(var i = 0 ; i < allTopMenus.length; i ++) {
                             str = '<li class="treeview">'
                                    +'<a href="#">'
                                    +'<i class="fa fa-link"></i> <span>'+allTopMenus[i].permissionname+'</span>'
                                    +'<span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>'
                                    +'</a>'
                                    ;
                            var allSubMenus = result.data.asLinq().where(function(){return this.parentPermissionId==allTopMenus[i].permissionid }).toArray();
                            str += '<ul class="treeview-menu">';
                            for (var j = 0; j < allSubMenus.length ; j++){
                                str += '<li><a href="'+allSubMenus[j].url+'" target="main">'+allSubMenus[j].permissionname+'</a></li>';
                            }
                            str += '</ul>';

                        }
                        $('.sidebar-menu').append(str)

                        doSlide();
                    }
                });

            })

            function doSlide(){
                $('.treeview').children('a').click(function(){
                    $('.treeview').removeClass('active');

                    $(this).parent('li').addClass('active');
                })
            }
            /*]]>*/
        </script>
    </th:block>
</body>
</html>