<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="shared/_layoutFrame">
<head>

</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div layout:fragment="content">
            <section class="sidebar">
                <ul class="sidebar-menu">
                    <li class="header">MENU</li>
                    <li class="active"><a href="#"><i class="fa fa-link"></i> <span>Link</span></a></li>
                    <li><a href="#"><i class="fa fa-link"></i> <span>Another Link</span></a></li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-link"></i> <span>Multilevel</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#">Link in level 2</a></li>
                            <li><a href="#">Link in level 2</a></li>
                        </ul>
                    </li>
                </ul>
            </section>
        <script type="text/javascript" src="/js/jslinq/jslinq.js"></script>
    </div>
    <th:block layout:fragment="scripts">
        <script type="text/javascript">
            /*<![CDATA[*/
            $(function(){
                $.get("/home/getUserPermissions",{},function(result){
                    if(result.status == 200){

                        var allTopMenus = result.data.asLinq().where(function(){return this.parentpermissionid==0}).toArray();

                        for(var i = 0 ; i <= allTopMenus.length; i ++) {
                            if(result.data[i].parentpermissionid == 0){

                            }

                            var str = '<li class="active"><a href="'+result.data[i].url+'"><i class="fa fa-link"></i> <span>'+ result.data[i].permissionname +'</span></a></li>';
                            $('.sidebar-menu').append(str)
                        }
                    }
                })
            })
            /*]]>*/
        </script>
    </th:block>
</body>
</html>