<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="shared/_layoutForm">
<head>

</head>
<body class="hold-transition skin-blue sidebar-mini">
<div layout:fragment="content">
    <link rel="stylesheet" href="/zTree_v3-3.5.29/css/zTreeStyle/zTreeStyle.css" type="text/css" />
    <script type="text/javascript" src="/zTree_v3-3.5.29/js/jquery.ztree.core.min.js"></script>
    <script type="text/javascript" src="/zTree_v3-3.5.29/js/jquery.ztree.excheck.min.js"></script>
    <div class="container-fluid" style="margin-top:10px">
        <div class="row">
            <div class="col-lg-12">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-lg-2 col-md-2 col-sm-2 control-label">账号</label>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <input type="text" class="form-control" name="account" id="account" />
                        </div>
                        <label class="col-lg-2 col-md-2 col-sm-2 control-label">姓名</label>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <input type="text" class="form-control" name="username" id="username" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 col-md-2 col-sm-2 control-label">生日</label>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <input type="text" class="form-control disabled" name="birthday" id="birthday" onclick="WdatePicker()"/>
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="col-lg-12">
                            <ul id="treeDemo" class="ztree"></ul>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12">
                            <button type="button" id="btnSave" class="btn btn-primary">保存</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<th:block layout:fragment="scripts">
    <script type="text/javascript">
        var zTreeObj;
        // zTree 的参数配置，深入使用请参考 API 文档（setting 配置详解）
        var setting = {
            check: {
                enable: true,
                chkStyle: "checkbox",
                //chkboxType: { "Y": "p", "N": "s" },
                autoCheckTrigger: true
            },
            data: {
                simpleData: {
                    enable: true,
                    idKey: "id",
                    pIdKey: "pid",

                },
            },
            async: {
                enable: true,
                autoParam: ["id"],
                url: "/system/getAllPermissionsWithChecked?roleid=0",
            }
        };
        // zTree 的数据属性，深入使用请参考 API 文档（zTreeNode 节点数据详解）
        var zNodes = [
            {name:"test1", open:true, children:[
                {name:"test1_1"}, {name:"test1_2"}]},
            {name:"test2", open:true, children:[
                {name:"test2_1"}, {name:"test2_2"}]}
        ];
        $(document).ready(function(){
            zTreeObj = $.fn.zTree.init($("#treeDemo"), setting);
        });

        $('#btnSave').click(function(){
            alert(zTreeObj.getCheckedNodes());
        })
    </script>
</th:block>
</body>
</html>