<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="shared/_layoutForm">
<head>

</head>
<body class="hold-transition skin-blue sidebar-mini">
<div layout:fragment="content">
    <link rel="stylesheet" href="/zTree_v3-3.5.29/css/zTreeStyle/zTreeStyle.css" type="text/css" />
    <script type="text/javascript" src="/zTree_v3-3.5.29/js/jquery.ztree.core.min.js"></script>
    <script type="text/javascript" src="/zTree_v3-3.5.29/js/jquery.ztree.excheck.min.js"></script>
    <div class="container-fluid" style="margin-top:10px">
        <div class="row">
            <div class="col-lg-12">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-lg-2 col-md-2 col-sm-2 control-label">角色名称</label>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <input type="text" class="form-control" name="rolename" id="rolename" />
                        </div>
                        <label class="col-lg-2 col-md-2 col-sm-2 control-label">角色描述</label>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <input type="text" class="form-control" name="roledesc" id="roledesc" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-12">
                            <ul id="treePermissions" class="ztree"></ul>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12">
                            <button type="button" id="btnSave" class="btn btn-primary">保存</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<th:block layout:fragment="scripts">
    <script type="text/javascript">
        var zTreeObj;
        // zTree 的参数配置，深入使用请参考 API 文档（setting 配置详解）
        var setting = {
            check: {
                enable: true,
                chkStyle: "checkbox",
                //chkboxType: { "Y": "p", "N": "s" },
                autoCheckTrigger: true
            },
            data: {
                simpleData: {
                    enable: true,
                    idKey: "id",
                    pIdKey: "pid",

                },
            },
            async: {
                enable: true,
                autoParam: ["id"],
                url: "/system/getAllPermissionsWithChecked?roleid=0",
            }
        };
        // zTree 的数据属性，深入使用请参考 API 文档（zTreeNode 节点数据详解）
        var zNodes = [{name:"test1", open:true, children:[{name:"test1_1"}, {name:"test1_2"}]},
            {name:"test2", open:true, children:[{name:"test2_1"}, {name:"test2_2"}]}
        ];
        $(document).ready(function(){
            zTreeObj = $.fn.zTree.init($("#treePermissions"), setting);
        });

        $('#btnSave').click(function(){
            if($('#rolename').val() == ''){
                alert('角色名称不能为空');
                return false;
            }

//            if(! isValidAccount) {
//                alert("账号已存在");return false;
//            }

            var checdedNodes = zTreeObj.getCheckedNodes();
            var ids = new Array();
            $.each(checdedNodes, function(i,val){
                ids.push(val.id);
            });
            var parms = {"rolename": $('#rolename').val(), "roledesc": $('#roledesc').val(),"permissionIds": ids};

            $.ajax({
                type:"post",
                dataType: "json",
                contentType: "application/json",
                url: "/system/addrole",
                data: JSON.stringify(parms),
                success: function(data){
                    if(data.status == 200){
                        var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                        parent.layer.close(index); //再执行关闭
                        parent.refershGrid();
                    }else {
                        alert(data.message);
                    }
                }
            })

        })
    </script>
</th:block>
</body>
</html>